
@{
    ViewBag.Title = "Login Page";
    Layout = null;
   

}

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>



    <!-- Css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel='stylesheet' type='text/css' media='screen' href='../Content/themes/style.css'>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">

                  const jqueryValidate = require("~/Script/jquery.validate.js");</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.jss/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3789dd4df1.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="row">

        <div class="col-lg-6">
            <img class="title-image" src='~/Content/img/cover.jpg' alt="grocery">
        </div>

        <div class="col-lg-6 title">

            <i class="fa-solid fa-cart-shopping fa-4x"></i>
            <h1>Grocery Inventory </h1>
            <h3>Join Best Inventory System today.</h3>

            <button class="btn btn-dark btn-lg btn-outline-light btn-block signup" type="button"
                    onclick="redirectSignUp();">
                Sign Up
            </button>

            <button class="btn btn-light btn-lg btn-outline-light btn-block loginbtn" type="button"
                    onclick="showModal();">
                Log in
            </button>

            <p class="text-danger m-auto w-75">@ViewBag.message</p>
        </div>
        <!--Login Form -->


       


        <div id="id01" class="modal">
            @if (ViewBag.ReturnUrl != null)
            {
                Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.Returnurl },FormMethod.Post, htmlAttributes: new { @class = "modal-content animate loginmodal" });
            }
            else
            {
                Html.BeginForm("Index", "Login",FormMethod.Post, htmlAttributes: new { @class = "modal-content animate loginmodal" });
            }

           @* <form class="modal-content animate loginmodal" action="" method="post">*@
                <div class="container logincontainer">
                    <div class="alert-warning alert-danger">@ViewBag.Error</div>
                    <i class="fa-solid fa-cart-shopping fa-4x"></i>
                    <h1> Login </h1>
                    <div>

                        @Html.TextBox("Username", null, new { @class = "form-control w-100", placeholder = "Username" })
                    </div>
                    <br />
                    <div>

                        @Html.Password("Password", null, new { @class = "form-control w-100", placeholder = "Password" })
                    </div>
                    <br />
                    <div class="checkbox">
                        <label>@Html.CheckBox("RememberMe") Remember Me</label>
                    </div>

                    <input type="submit" name="login" value="Login" class="btn btn-success" />
                </div>

            @*</form>*@
        </div>
        @{ Html.EndForm();}
    </div>
</body>


<script>

    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal,  it closes the model
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    //function closeModal(){
    //    modal.style.display = "none";
    //}


    //Redirect to sign up page when user clicks sign up button
    function redirectSignUp() {
        document.location = '@Url.Action("Create","Users")';
    }

    //Display the modal
    function showModal() {
        document.getElementById('id01').style.display = 'block';
        document.getElementById('id01').style.width = 'auto';
    }

</script>


<footer id="footer">
    <i class="footer-item fa-brands fa-twitter"></i>
    <i class="footer-item fa-brands fa-facebook-f"></i>
    <i class="footer-item fa-brands fa-instagram"></i>
    <i class="footer-item fa-solid fa-envelope"></i>
    <p>© Copyright 2022 Atul & Rahul !</p>

</footer>
</html>